<h1 class="text-uppercase">Add new task</h1>
<form class="user-form" action="/tasks/add" method="post">
  <label for="title">
    Task Name:<input type="text" name="title" id="title" class="form-control" required>
  </label>
  <button class="btn btn-info" type="submit">
    Add task
  </button>
</form>